ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant-acknowledgements.markdown
ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant-acknowledgements.plist
ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant-environment.h
ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant-resources.sh
ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant.debug.xcconfig
ios_app/ProjectElephant/Pods/Pods.xcodeproj/project.pbxproj
ios_app/ProjectElephant/Pods/Pods.xcodeproj/xcuserdata/krisjones.xcuserdatad/xcschemes/Pods-ProjectElephant-XLPagerTabStrip.xcscheme
ios_app/ProjectElephant/Pods/Pods.xcodeproj/xcuserdata/krisjones.xcuserdatad/xcschemes/Pods-ProjectElephant.xcscheme
ios_app/ProjectElephant/Pods/Pods.xcodeproj/xcuserdata/krisjones.xcuserdatad/xcschemes/xcschememanagement.plist
ios_app/ProjectElephant/Pods/Target Support Files/Pods-ProjectElephant/Pods-ProjectElephant.release.xcconfig
ios_app/ProjectElephant/ProjectElephant.xcodeproj/project.pbxproj
ios_app/ProjectElephant/ProjectElephant.xcworkspace/xcuserdata/krisjones.xcuserdatad/UserInterfaceState.xcuserstate
